*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}

body{
    background-color: black;
    color: white;
    text-align: center;
}

h1{
    font-size: 30px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 40px;
}

.game_button{
    background-color: transparent;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid white;
    margin-right: 20px;
    cursor: pointer;
}

.game_button img{
    width: 100px;
}

.playerResults{
    display: flex;
    justify-content: center;
    margin: 50px 0px;
    gap: 40px;
}

.palyerDisplay, .ComputerDisplay{
    font-size: 25px;
}

.ResultDisplay{
    font-size: 40px;
}